<div class="container mt-4">
  <h3><i class="glyphicon glyphicon-shopping-cart"></i> Shopping Cart</h3>

  <div class="panel panel-default">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Item</th>
          <th>Price</th>
          <th width="150">Quantity</th>
          <th>Subtotal</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in cart">
          <td>{{item.name}}</td>
          <td>{{item.price | currency}}</td>
          <td>
            <div class="input-group input-group-sm">
              <span class="input-group-btn">
                <button class="btn btn-default" ng-click="decrement(item)">
                  -
                </button>
              </span>
              <input
                type="text"
                class="form-control text-center"
                ng-model="item.quantity"
                readonly
              />
              <span class="input-group-btn">
                <button class="btn btn-default" ng-click="increment(item)">
                  +
                </button>
              </span>
            </div>
          </td>
          <td>{{ (item.price * item.quantity) | currency }}</td>
          <td>
            <button class="btn btn-danger btn-xs" ng-click="remove($index)">
              Remove
            </button>
          </td>
        </tr>
        <tr ng-if="cart.length === 0">
          <td colspan="5" class="text-center">Your cart is empty.</td>
        </tr>
      </tbody>
    </table>
    <div class="panel-footer text-right">
      <h4>Total: <strong>{{ getTotal() | currency }}</strong></h4>
      <button
        class="btn btn-success btn-lg"
        ng-click="goToCheckout()"
        ng-disabled="cart.length === 0"
      >
        Proceed to Checkout
      </button>
    </div>
  </div>
</div>
